<h2>La liste des candidats</h2>
<div style="float: right;">
  <div style="display: inline-block; margin-right: 10px;">
    <button class="btn btn-secondary" (click)="showFilter()">Filtre<span class="ti-filter"></span></button>
  </div>
  <div style="display: inline-block;">
    <button class="btn btn-warning" (click)="changeSettings(reglageTemplate)">Réglage <span
        class="ti-settings"></span></button>
  </div>
</div>
<div style="width:100%; margin-top: 50px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngIf="showPhoto">
          <ng-container>Photo</ng-container>
        </th>
        <th *ngIf="showNom">
          <ng-container *ngIf="!filter">Nom</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Nom" [(ngModel)]="nomFilter"></ng-container>
        </th>
        <th *ngIf="showPrenom">
          <ng-container *ngIf="!filter">Prénom</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Prenom" [(ngModel)]="prenomFilter"></ng-container>
        </th>
        <th *ngIf="showTitre">
          <ng-container *ngIf="!filter">Titre</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Titre" [(ngModel)]="titreFilter"></ng-container>
        </th>
        <th *ngIf="showDiplome">
          <ng-container *ngIf="!filter">Diplome</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Diplome" [(ngModel)]="diplomeFilter"></ng-container>
        </th>
        <th *ngIf="showAdresse">
          <ng-container *ngIf="!filter">Adresse</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Adresse" [(ngModel)]="adresseFilter"></ng-container>
        </th>
        <th *ngIf="showDateNaiss">
          <ng-container *ngIf="!filter">Date de naissance</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Date de naissance" [(ngModel)]="dateNaissFilter"></ng-container>
        </th>
        <th *ngIf="showEmail">
          <ng-container *ngIf="!filter">Email</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Email" [(ngModel)]="emailFilter"></ng-container>
        </th>
        <th *ngIf="showTel">
          <ng-container *ngIf="!filter">Numéro de telephone</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="numéro de telephone" [(ngModel)]="telFilter"></ng-container>
        </th>
        <th *ngIf="showNationalite">
          <ng-container *ngIf="!filter">Nationalité</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Nationalité" [(ngModel)]="nationaliteFilter"></ng-container>
        </th>
        <th *ngIf="showCV">
          <ng-container>CV</ng-container>
        </th>
        <th *ngIf="showAjout">
          <ng-container *ngIf="!filter">Date d'ajout</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Date d'ajout" [(ngModel)]="ajoutFilter"></ng-container>
        </th>
        <th *ngIf="showModification">
          <ng-container *ngIf="!filter">Date de modification</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Date de modification" [(ngModel)]="modifFilter"></ng-container>
        </th>
        <th> Action{{showNom}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidat of listCandidat|filterNomCandidat:nomFilter|filterPrenomCandidat:prenomFilter|filterTitreCandidat:titreFilter
      |filterDiplomeCandidat:diplomeFilter|filterAdresseCandidat:adresseFilter|filterDatenaissanceCandidat:dateNaissFilter|filterEmailCandidat:emailFilter
      |filterTelCandidat:telFilter|filterNationaliteCandidat:nationaliteFilter|filterModifCandidat:modifFilter|filterAjoutCandidat:ajoutFilter">
        <td class="py-1" *ngIf="showPhoto">
          <img  *ngIf="candidat.photo" src="data:image/jpg;base64,{{ candidat.photo }}" alt="image" class="zoom">

          <img  *ngIf="!candidat.photo" src="../../../assets/images/faces/face1.jpg" alt="image" class="zoom">

        </td>
        <td *ngIf="showNom">{{candidat.nom}}</td>
        <td *ngIf="showPrenom">{{candidat.prenom}}</td>
        <td *ngIf="showTitre">{{candidat.titre}}</td>
        <td *ngIf="showDiplome">{{candidat.diplome}}</td>
        <td class="py-1" *ngIf="showAdresse">{{candidat.adresse}}</td>
        <td class="py-1" *ngIf="showDateNaiss">{{candidat.dateNaissance}}</td>
        <td class="py-1" *ngIf="showEmail">h{{candidat.email}}</td>
        <td *ngIf="showTel">{{candidat.tel}}</td>
        <td class="py-1" *ngIf="showNationalite">{{candidat.nationalite}}</td>
        <td class="py-1" *ngIf="showCV"><i class="fa fa-file-pdf-o" (click)="openPDF(candidat.pieceJointe)" style="cursor: pointer;"></i></td>
        <td *ngIf="showAjout">{{candidat.dateAjout}}</td>
        <td *ngIf="showModification">{{candidat.dateModif}}</td>
        <td>
          <span title="Supprimer" class="ti-trash" style="cursor: pointer; margin-right: 20px;color: red;"
            (click)="showDeleteModal(deleteTemplate,candidat)"></span>
          <span title="Détails" class="ti-info-alt" style="cursor: pointer; color: blue;"
            (click)="showInfoModal(infoTemplate,candidat)"></span>
        </td>
      </tr>

    </tbody>
  </table>
</div>
<!--************************************************************delete modal---------------------------->
<ng-template #deleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Suppression de candidat {{candidatToDelete.prenom}} {{candidatToDelete.nom}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Vous étes sure de supprimer le candidat {{candidatToDelete.prenom}} {{candidatToDelete.nom}}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deleteCandidat()">OUI</button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">NON</button>
  </div>
</ng-template>

<!---------------------------------------------------info modal*******************************-->
<ng-template #infoTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Détails de Candidat {{candidatDetail.nom}} {{candidatDetail.prnom}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container py-3" style="width:100%;">
      <div class="card">
        <div class="row ">
          <div class="col-md-5">
            <img *ngIf="candidatDetail.photo"  src="data:image/jpg;base64,{{candidatDetail.photo}}" style="width:100%;">
            <img *ngIf="!candidatDetail.photo"  src="../../../assets/images/faces/face21.jpg" style="width:100%;">
          </div>
          <div class="col-md-7 px-3">
            <div class="card-block px-3">
              <b>Nom: </b>{{candidatDetail.nom}}<br>
              <b>Prénom: </b>{{candidatDetail.prenom}}<br>
              <b>Titre: </b>{{candidatDetail.titre}}<br>
              <b>Diplome: </b>{{candidatDetail.diplome}}<br>
              <b>Adresse: </b>{{candidatDetail.adresse}}<br>
              <b>Numéro de telephone: </b>{{candidatDetail.tel}}<br>
              <b>Date de naissance: </b>{{candidatDetail.dateNaissance}}<br>
              <b>Email: </b>{{candidatDetail.email}}<br>
              <b>Nationalité: </b>{{candidatDetail.nationalite}}<br>
              <b>CV: </b><i class="fa fa-file-pdf-o" (click)="openPDF(candidatDetail.pieceJointe)" style="cursor: pointer;"></i><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!---------------------------------------------------reglage modal*******************************-->
<ng-template #reglageTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Selectionnez les colonnes à afficher dans la table</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showPhoto" [ngModelOptions]="{standalone: true}">
        Photo
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showNom" [ngModelOptions]="{standalone: true}">
        Nom
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showPrenom" [ngModelOptions]="{standalone: true}">
        Prénom
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showTitre" [ngModelOptions]="{standalone: true}">
        Titre
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showDiplome" [ngModelOptions]="{standalone: true}">
        Diplome
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showAdresse" [ngModelOptions]="{standalone: true}">
        Adresse
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showDateNaiss"
          [ngModelOptions]="{standalone: true}">
        Date de naissance
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showEmail" [ngModelOptions]="{standalone: true}">
        Email
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showTel" [ngModelOptions]="{standalone: true}">
        Numéro de télephone
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showNationalite"
          [ngModelOptions]="{standalone: true}">
        Nationalité
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showCV" [ngModelOptions]="{standalone: true}">
        CV
        <i class="input-helper"></i></label>
    </div>

    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showAjout" [ngModelOptions]="{standalone: true}">
        Date d'ajout
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showModification"
          [ngModelOptions]="{standalone: true}">
        Date de modification
        <i class="input-helper"></i></label>
    </div>
  </div>
</ng-template>
