<h2>La liste des domaines</h2>
<div style="float: right;">
  <div style="display: inline-block; margin-right: 10px;">
    <button class="btn btn-success" (click)="showAddModal(addTemplate)">Ajouter domaine</button>
  </div>
  <div style="display: inline-block; margin-right: 10px;">
    <button class="btn btn-secondary" (click)="showFilter()">Filtre<span class="ti-filter"></span></button>
  </div>
  <div style="display: inline-block;">
    <button class="btn btn-warning" (click)="changeSettings(reglageTemplate)">Réglage <span
        class="ti-settings"></span></button>
  </div>
</div>
<div style="width:100%; margin-top: 50px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngIf="showIntitule">
          <ng-container *ngIf="!filter">Intitulé</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Intitulé"></ng-container>
        </th>
        <th *ngIf="showAjout">
          <ng-container *ngIf="!filter">Date d'ajout</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Date d'ajout"></ng-container>
        </th>
        <th *ngIf="showModification">
          <ng-container *ngIf="!filter">Date de modification</ng-container>
          <ng-container *ngIf="filter"><input type="text" placeholder="Date de modification"></ng-container>
        </th>
        <th> Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let domaine of listDomaines">
      <tr >
        <td class="py-1" *ngIf="showIntitule">{{domaine.intitule}}</td>
        <td *ngIf="showAjout">{{domaine.dateAjout | date: 'dd/MM/yyyy'}}</td>
        <td *ngIf="showModification">{{domaine.dateModif | date: 'dd/MM/yyyy'}}</td>
        <td>
          <span title="Modifier" class="ti-pencil-alt" style="cursor: pointer; margin-right: 20px;color:green"
            (click)="showUpdateModal(updateTemplate,domaine)"></span>
          <span title="Supprimer" class="ti-trash" style="cursor: pointer; color: red;"
            (click)="showDeleteModal(deleteTemplate,domaine)"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--****************************************Add modal**********************************-->
<ng-template #addTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ajout d'un domaine</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control form-control-sm" 
    [(ngModel)]="domaineToAdd.intitule" [ngModelOptions]="{standalone: true}" placeholder="Intitulé" aria-label="Intitulé">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addDomaine()">Ajouter</button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Annuler</button>
  </div>
</ng-template>
<!---------------------------------------------------update modal*******************************-->
<ng-template #updateTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modification de domaine ({{domaineUpdated.intitule}})</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control form-control-sm" [(ngModel)]="domaineUpdated.intitule" [ngModelOptions]="{standalone: true}"
     placeholder="Intitulé" aria-label="Intitulé">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="updateDomaine()">Modifier</button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Annuler</button>
  </div>
</ng-template>
<!---------------------------------------------------delete modal*******************************-->
<ng-template #deleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Suppression de domaine ({{domaineToDelete.intitule}})</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Vous étes sure de supprimer le domaine ({{domaineToDelete.intitule}})?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deleteDomaine()">OUI</button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">NON</button>
  </div>
</ng-template>

<!---------------------------------------------------reglage modal*******************************-->
<ng-template #reglageTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Selectionnez les colonnes à afficher dans la table</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showIntitule" [ngModelOptions]="{standalone: true}">
        Intitulé
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showAjout" [ngModelOptions]="{standalone: true}">
        Date d'ajout
        <i class="input-helper"></i></label>
    </div>
    <div class="form-check form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="showModification" [ngModelOptions]="{standalone: true}">
        Date de modification
        <i class="input-helper"></i></label>
    </div>
  </div>
</ng-template>
