<!-- <h2>La liste des employeurs</h2> -->
<div style="float: right;">
  <!-- <div style="display: inline-block; margin-right: 10px;">
    <input type="text" class="form-control form-control-md" placeholder="Recherche" aria-label="Recherche">
  </div> -->
  <div style="display: inline-block; margin-right: 10px;">
    <button class="btn btn-secondary" (click)="showFilterModal(filterTemplate)">Filtre<span
        class="ti-filter"></span></button>
  </div>
  <div style="display: inline-block; margin-right: 10px;">
    <button class="btn btn-success" (click)="showAddModal(addTemplate)">Ajouter Offre</button>
  </div>
  <div style="display: inline-block; ">
    <button class="btn btn-dark" (click)="openAll()">
      <span [ngClass]="{'ti-angle-double-down': !isAllOpen, 'ti-angle-double-up': isAllOpen}"></span>
    </button>
  </div>
</div>
<div style="width:100%; margin-top: 50px;">
  <accordion [isAnimated]="true" *ngFor="let offre of myoffres; let i = index">
    <accordion-group class="acordion-group" [isOpen]="isOpen[i]">
      <div accordion-heading style="width:100%;" (click)="openOrClose(i)">
        <div style="display: inline-block; margin-left: 20px; vertical-align: middle;">
          <h6>{{offre.poste.intitule}}</h6>
        </div>
        <div style="display: inline-block; margin-left: 20px; vertical-align: middle; float: right;">
          <span [ngClass]="{'ti-angle-up': isOpen[i], 'ti-angle-down': !isOpen[i]}"></span>
        </div>
      </div>
      <div style="display: block;">
        <div style="display: inline-block; margin-left: 20px; vertical-align: middle; float: right;">
          <span title="Modifier" class="ti-pencil-alt" style="cursor: pointer; margin-right: 20px;color:green"
            (click)="showUpdateModal(updateTemplate, offre)"></span>
          <span title="Supprimer" class="ti-trash" style="cursor: pointer; color: red;"
            (click)="showDeleteModal(deleteTemplate, offre)"></span>
        </div>
        <h2>{{offre.domaine.intitule}} / {{offre.poste.intitule}}</h2>
        <hr>
      </div>
      <div style="display: block;">
        <h4>Salaire</h4>
        {{offre.salaire}} DT<br>
        <hr>
        <h4>Horaire</h4>
        {{offre.horaire}} H/Semaine
        <hr>
      </div>
      <div style="display: block;">
        <h4>
          Domaine</h4>
        {{offre.domaine.intitule}}<br>
        <hr>
      </div>
      <div style="display: block;">
        <div style="display: block;">
          {{offre.poste.description}}<br>
          <hr>
        </div>
      </div>
      <div style="display: block;">
        <div style="display: block;">
          <h4>Niveau d’expérience</h4>
          {{offre.niveauExperience}} ans.
          <hr>
        </div>
      </div>
      <div style="display: block;">
        <h4>Niveau d'études</h4>
        BAC + {{offre.niveauEtude}}
        <hr>
      </div>
      <div style="display: block;">
        <h4>Compétences techniques</h4>
        <div *ngFor="let competence of offre.competences" class="btn btn-light btn-rounded btn-fw"
          style="background-color: #a3a4a5; display: inline-block;">
          <b>{{competence.intitule}}</b></div>
        <hr>
      </div>
      <div style="display: block;">
        <h4>Langues</h4>
        <span *ngFor="let lg of languesByOffres[offre.id]">
          {{lg.langue.libelle}} &nbsp; <rating [(ngModel)]="lg.niveau" [max]="max" [readonly]="true"></rating><br>
        </span>
        <hr>
      </div>
      <div style="display: block;">
        <h4>Liste des candidats</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <ng-container>Photo</ng-container>
              </th>
              <th>
                Nom
              </th>
              <th>Prénom
              </th>
              <th>
                Titre
              </th>
              <th>
                Diplome
              </th>
              <th>Adresse
              </th>
              <th>Date de naissance
              </th>
              <th>
                Email
              </th>
              <th>
                Numéro de telephone
              </th>
              <th>
                Nationalité
              </th>
              <th>CV
              </th>
              <th style="width: 8%;">
                Etat
              </th>
              <th style="width:10%;"> Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidature of candidats[offre.id]">
              <td class="py-1">
                <img *ngIf="candidature.candidat.photo" src="data:image/jpg;base64,{{ candidature.candidat.photo }}"
                  alt="image" class="zoom">
                <img *ngIf="!candidature.candidat.photo" src="../../../assets/images/faces/face1.jpg" alt="image"
                  class="zoom">
              </td>
              <td>{{candidature.candidat.nom}}</td>
              <td>{{candidature.candidat.prenom}}</td>
              <td>{{candidature.candidat.titre}}</td>
              <td>{{candidature.candidat.diplome}}</td>
              <td class="py-1">{{candidature.candidat.adresse}}</td>
              <td class="py-1">{{candidature.candidat.dateNaissance}}</td>
              <td class="py-1">{{candidature.candidat.email}}</td>
              <td>{{candidature.candidat.tel}}</td>
              <td class="py-1">{{candidature.candidat.nationalite}}</td>
              <td class="py-1"><i class="fa fa-file-pdf-o" (click)="openPDF(candidature.candidat.pieceJointe)"
                  style="cursor: pointer;"></i></td>
              <td class="py-1">
                <label *ngIf="candidature.etat==='ACCEPTE'" class="badge badge-success"><b>Accepté</b></label>
                <label *ngIf="candidature.etat==='REFUSE'" class="badge badge-danger"><b>Non
                    retenu</b></label>
                <label *ngIf="candidature.etat==='EN_ATTENTE'" class="badge badge-warning"><b>En attente</b></label>
              </td>
              <td class="py-1">
                <span title="Accepter" class="fa fa-check" style="cursor: pointer; margin-right:10px;color: green;"
                  (click)="accepter(candidature)" *ngIf="candidature.etat==='EN_ATTENTE'"></span>
                <span title="Refuser" class="fa fa-close" style="cursor: pointer; margin-right:10px;color: red;"
                  (click)="refuser(candidature)" *ngIf="candidature.etat==='EN_ATTENTE'"></span>
                <span title="Détails" class="ti-info-alt" style="cursor: pointer; color: blue;"
                  (click)="showInfoModal(infoTemplate, candidature)"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </accordion-group>
  </accordion>
</div>
<!---------------------------------------------------update modal*******************************-->
<ng-template #updateTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modification de l'offre {{offreToUpdate.poste.intitule}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control form-control-sm" [(ngModel)]="offreToUpdate.poste.intitule"
      placeholder="Poste" aria-label="Poste" style="margin-bottom: 15px;" #poste="ngModel" required>
    <div *ngIf="poste.errors && (poste.dirty || poste.touched ||tryToSubmitForm)" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <textarea class="form-control form-control-sm" [(ngModel)]="offreToUpdate.poste.description"
      placeholder="Description" rows="6" style="margin-bottom: 15px;" #desc="ngModel" required></textarea>
    <div *ngIf="desc.errors && (desc.dirty || desc.touched ||tryToSubmitForm)" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <label>Domaine</label>
    <!-- <ng-multiselect-dropdown [placeholder]="'Choisir Domaine'" [data]="listDomaines" [(ngModel)]="offreToUpdate.domaine"
      [settings]="dropdownSettingsDomaine" (onSelect)="onItemSelectUpDomaines($event)">
    </ng-multiselect-dropdown> -->
    <select class="form-control form-control-sm" [compareWith]="byId" [(ngModel)]="offreToUpdate.domaine"
      (change)="onItemSelectUpDomaines()">
      <option *ngFor="let domaine of listDomaines" [ngValue]="domaine"
        [selected]="domaine.id === offreToUpdate.domaine.id">{{domaine.intitule}}</option>
    </select>
    <div *ngIf="!offreToUpdate.domaine && tryToSubmitForm" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <hr>
    <ng-template #tolTemplateAddEtude>BAC + {{offreToUpdate.niveauEtude}}</ng-template>
    <label>Niveau d'études demandé</label>
    <input type="range" min="0" max="8" [(ngModel)]="offreToUpdate.niveauEtude" class="slider" id="myRange"
      [tooltip]="tolTemplateAddEtude" triggers="focus">
    <div *ngIf="tryToSubmitForm && offreToUpdate.niveauEtude==0" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <ng-template #tolTemplateAddHor>{{offreToUpdate.horaire}} Heure/Semaine</ng-template>
    <label>Horaire par semaine</label>
    <input type="range" min="0" max="50" [(ngModel)]="offreToUpdate.horaire" class="slider" id="myRange"
      [tooltip]="tolTemplateAddHor" triggers="focus">
    <div *ngIf="tryToSubmitForm && offreToAdd.horaire==0" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <ng-template #tolTemplateAdd>{{offreToUpdate.salaire}} DT</ng-template>
    <label>Salaire mensuel</label>
    <input type="range" min="0" max="50000" [(ngModel)]="offreToUpdate.salaire" class="slider" id="myRange"
      [tooltip]="tolTemplateAdd" triggers="focus">
    <div *ngIf="tryToSubmitForm && offreToUpdate.salaire==0" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <ng-template #tolTemplateExpAdd>{{ offreToUpdate.niveauExperience }} ans</ng-template>
    <label>Experience demandée</label><br>
    <input type="range" min="0" max="30" [(ngModel)]="offreToUpdate.niveauExperience" class="slider" id="myRange"
      [tooltip]="tolTemplateExpAdd" triggers="focus">
    <div *ngIf="tryToSubmitForm && offreToAdd.niveauExperience==0" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <label>Compétences techniques demandées</label><br>
    <ng-multiselect-dropdown [placeholder]="'Choisir Compétences'" [data]="listCompetences"
      [(ngModel)]="offreToUpdate.competences" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>
    <div *ngIf="tryToSubmitForm && !offreToUpdate.competences" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <hr>
    <br />
    <label>Langues</label><br>
    <ng-container *ngFor="let lg of langues; let j=index">
      {{lg.libelle}} <rating [(ngModel)]="languesOffres[j].niveau" [max]="max" [readonly]="isReadonly"></rating><br>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="updateOffre(languesOffres)">Modifier</button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Annuler</button>
  </div>
</ng-template>
<!---------------------------------------------------delete modal*******************************-->
<ng-template #deleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Suppression de l'offre {{offreToDelete.poste.intitule}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Vous étes sure de supprimer l'offre {{offreToDelete.poste.intitule}}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deleteOffre()">OUI</button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">NON</button>
  </div>
</ng-template>
<!--****************************************Add modal**********************************-->
<ng-template #addTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ajout d'un nouvel offre</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control form-control-sm" [(ngModel)]="offreToAdd.poste.intitule" placeholder="Poste"
      aria-label="Poste" style="margin-bottom: 15px;" #poste="ngModel" required>
    <div *ngIf="poste.errors && (poste.dirty || poste.touched ||tryToSubmitForm)" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <textarea class="form-control form-control-sm" [(ngModel)]="offreToAdd.poste.description" placeholder="Description"
      rows="6" style="margin-bottom: 15px;" #desc="ngModel" required></textarea>
    <div *ngIf="desc.errors && (desc.dirty || desc.touched ||tryToSubmitForm)" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <label>Domaine</label>
    <!-- <ng-multiselect-dropdown [placeholder]="'Choisir Domaine'" [data]="listDomaines"
      [settings]="dropdownSettingsDomaine" (onSelect)="onItemSelectDomaines($event)">
    </ng-multiselect-dropdown> -->
    <select class="form-control form-control-sm" [(ngModel)]="offreToAdd.domaine" (change)="onItemSelectDomaines()">
      <option *ngFor="let domaine of listDomaines" [ngValue]="domaine">{{domaine.intitule}}</option>
    </select>
    <div *ngIf="!offreToAdd.domaine && tryToSubmitForm" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <hr>
    <ng-template #tolTemplateAddEtude>BAC + {{offreToAdd.niveauEtude}}</ng-template>
    <label>Niveau d'études demandé</label>
    <input type="range" min="0" max="8" [(ngModel)]="offreToAdd.niveauEtude" class="slider" id="myRange"
      [tooltip]="tolTemplateAddEtude" triggers="focus">
    <div *ngIf="tryToSubmitForm && offreToAdd.niveauEtude==0" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <ng-template #tolTemplateAddHor>{{offreToAdd.horaire}} Heure/Semaine</ng-template>
    <label>Horaire par semaine</label>
    <input type="range" min="0" max="50" [(ngModel)]="offreToAdd.horaire" class="slider" id="myRange"
      [tooltip]="tolTemplateAddHor" triggers="focus">
    <div *ngIf="tryToSubmitForm && offreToAdd.horaire==0" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <ng-template #tolTemplateAdd>{{offreToAdd.salaire}} DT</ng-template>
    <label>Salaire mensuel</label>
    <input type="range" min="0" max="50000" [(ngModel)]="offreToAdd.salaire" class="slider" id="myRange"
      [tooltip]="tolTemplateAdd" triggers="focus">
    <div *ngIf="tryToSubmitForm && offreToAdd.salaire==0" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <ng-template #tolTemplateExpAdd>{{ offreToAdd.niveauExperience }} ans</ng-template>
    <label>Experience demandée</label><br>
    <input type="range" min="0" max="30" [(ngModel)]="offreToAdd.niveauExperience" class="slider" id="myRange"
      [tooltip]="tolTemplateExpAdd" triggers="focus">
    <div *ngIf="tryToSubmitForm && offreToAdd.niveauExperience==0" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <label>Compétences techniques demandées</label><br>
    <ng-multiselect-dropdown [placeholder]="'Choisir Compétences'" [data]="listCompetences"
      [(ngModel)]="offreToAdd.competences" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>
    <div *ngIf="tryToSubmitForm && !offreToAdd.competences" class="alert alert-danger">
      <div>
        Champ obligatoire!
      </div>
    </div>
    <hr>
    <br />
    <label>Langues</label><br>
    <ng-container *ngFor="let lg of langues; let j=index">
      {{lg.libelle}} <rating [(ngModel)]="languesOffres[j].niveau" [max]="max" [readonly]="isReadonly"></rating><br>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addOffre(languesOffres)">Ajouter</button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Annuler</button>
  </div>
</ng-template>
<!---------------------------------------------------info modal*******************************-->
<ng-template #infoTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Détails de candidature du candidat {{candidatureDetails.candidat.prenom}}
      {{candidatureDetails.candidat.nom}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container py-3" style="width:100%;">
      <div class="card">
        <div class="row ">
          <div class="col-md-5">
            <img src="data:image/jpg;base64,{{ candidatureDetails.candidat.photo }}" class="w-100" style="width: 100%;">
          </div>
          <div class="col-md-7 px-3">
            <div class="card-block px-3">
              <b>Nom: </b>{{candidatureDetails.candidat.nom}}<br>
              <b>Prénom: </b>{{candidatureDetails.candidat.prenom}}<br>
              <b>Titre: </b>{{candidatureDetails.candidat.titre}}<br>
              <b>Diplome: </b>{{candidatureDetails.candidat.diplome}}<br>
              <b>Adresse: </b>{{candidatureDetails.candidat.adresse}}<br>
              <b>Numéro de telephone: </b>{{candidatureDetails.candidat.tel}}<br>
              <b>Date de naissance: </b>{{candidatureDetails.candidat.dateNaissance}}<br>
              <b>Email: </b>{{candidatureDetails.candidat.email}}<br>
              <b>Nationalité: </b>{{candidatureDetails.candidat.nationalite}}<br>
              <b>Ajouté le: </b>{{candidatureDetails.candidat.dateAjout}}<br>
              <b>Dérniére modification: </b>{{candidatureDetails.candidat.dateModif}}<br>
              <b>CV: </b><i class="fa fa-file-pdf-o" (click)="openPDF(candidatureDetails.candidat.pieceJointe)"
                style="cursor: pointer;"></i><br>
              <b>Etat: </b>
              <label *ngIf="candidatureDetails.etat==='ACCEPTE'" class="badge badge-success"><b>Accepté</b></label>
              <label *ngIf="candidatureDetails.etat==='REFUSE'" class="badge badge-danger"><b>Non retenu</b></label>
              <label *ngIf="candidatureDetails.etat==='EN_ATTENTE'" class="badge badge-warning"><b>En
                  attente</b></label>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="padding-bottom: 50px; padding-top: 20px;padding-left: 20px;">
        <div class="row ">
          <div class="col-md-12">
            <h5>Competences</h5>
            <ng-container *ngFor="let cmp of candidatCompetences[candidatureDetails.candidat.id]">
              <div class="btn btn-dark btn-rounded btn-fw" style="margin-right: 5px;">{{cmp.competence.intitule}} </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="card" style="padding-bottom: 50px; padding-top: 20px;padding-left: 20px;">
        <div class="row ">
          <div class="col-md-12">
            <h5>Experiences</h5>
            <ng-container *ngFor="let exp of candidatExperience[candidatureDetails.candidat.id]">
              <div style="display: block;">
                <span style="font-weight: bold;">[{{exp.experience.debut | date:'dd/MM/yyyy'}} -
                  {{exp.experience.fin | date:'dd/MM/yyyy'}}]</span> :
                  <span style="font-weight:lighter;">{{exp.experience.titre}}</span> chez
                  <span style="font-weight:lighter;">{{exp.experience.employeur}}</span> à
                  <span style="font-weight:lighter;">{{exp.experience.lieu}}</span>
                  <br/>
                  <span style="font-weight:lighter;">{{exp.experience.description}}</span>
                </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="card" style="padding-bottom: 50px; padding-top: 20px;padding-left: 20px;">
        <div class="row ">
          <div class="col-md-12">
            <h5>Langues</h5>
            <ng-container *ngFor="let lg of candidatLangues[candidatureDetails.candidat.id]">
              <div style="display: block;">
                <span style="font-weight: bold; margin-right: 10px;">{{lg.langue.libelle}}</span>
                <rating [(ngModel)]="lg.niveau" [max]="5" [readonly]="true"></rating>
                </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!--*******************************************filtre model**********************************-->
<ng-template #filterTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Filtre des offres</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Domaines</label>
    <ng-multiselect-dropdown [placeholder]="'Choisir Domaine'" [data]="listDomaines"
      [settings]="dropdownSettingsDomaine" (onSelect)="onItemSelectFilterDomaines($event)">
    </ng-multiselect-dropdown>
    <hr>
    <ng-template #tolTemplateAddEtude>BAC + {{filterObject.etude}}</ng-template>
    <label>Niveau d'études demandé</label>
    <input type="range" min="0" max="8" [(ngModel)]="filterObject.etude" class="slider" id="myRange"
      [tooltip]="tolTemplateAddEtude" triggers="focus">
    <ng-template #tolTemplateAdd>{{filterObject.salaire}} DT</ng-template>
    <label>Salaire mensuel</label>
    <input type="range" min="0" max="50000" [(ngModel)]="filterObject.salaire" class="slider" id="myRange"
      [tooltip]="tolTemplateAdd" triggers="focus">
    <ng-template #tolTemplateExpAdd>{{ filterObject.experience }} ans</ng-template>
    <label>Experience demandée</label><br>
    <input type="range" min="0" max="30" [(ngModel)]="filterObject.experience" class="slider" id="myRange"
      [tooltip]="tolTemplateExpAdd" triggers="focus">
    <label>Compétences techniques demandées</label><br>
    <ng-multiselect-dropdown [placeholder]="'Choisir Compétences'" [data]="listCompetences"
      [(ngModel)]="filterObject.competences" [settings]="dropdownSettings">
    </ng-multiselect-dropdown>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submitSearch(myoffres)">Filtrer</button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Annuler</button>
  </div>
</ng-template>
