<!-- <h2>La liste des employeurs</h2> -->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div style="float: right;">
  <div style="display: inline-block; margin-right: 10px;">
    <input type="text" class="form-control form-control-md" placeholder="Recherche" aria-label="Recherche">
  </div>
  <div style="display: inline-block; margin-right: 10px;">
    <button class="btn btn-secondary" (click)="showFilterModal(filterTemplate)">Filtre<span
        class="ti-filter"></span></button>
  </div>
  <!-- <div style="display: inline-block; margin-right: 10px;">
    <button class="btn btn-warning" (click)="changeSettings(reglageTemplate)">Réglage <span
        class="ti-settings"></span></button>
  </div> -->
  <div style="display: inline-block; ">
    <button class="btn btn-dark" (click)="openAll()">
      <span [ngClass]="{'ti-angle-double-down': !isAllOpen, 'ti-angle-double-up': isAllOpen}"></span>
    </button>
  </div>
</div>

<div style="width:100%; margin-top: 50px;">
  <accordion [isAnimated]="true" *ngFor="let offre of listOffre">
    <accordion-group class="acordion-group" (click)="openOrClose(0)">
      <div accordion-heading style="width:100%;">
        <div style="display: inline-block;">
          <img src='../../../assets/images/entreprises/e1.jpg' class='offre-pic'>
        </div>
        <div style="display: inline-block; margin-left: 20px; vertical-align: middle;">
          <h6>{{offre.fonction}}</h6>
          <small class="text-muted">
            {{offre.employeur.nom}}
          </small>
        </div>
        <div style="display: inline-block; margin-left: 20px; vertical-align: middle; float: right;">
          <span [ngClass]="{'ti-angle-up': isOpen[0], 'ti-angle-down': !isOpen[0]}"></span>
        </div>
      </div>
      <div style="display: block;">
        <div style="display: inline-block; margin-left: 20px; vertical-align: middle; float: right;">
          <button type="button" class="btn btn-outline-primary btn-fw">Postuler</button>
        </div>
        <h2>{{offre.poste.intitule}}</h2>
        <hr>
      </div>
      <div style="display: block;">
        <h4>Correspondance avec votre profil</h4>
        <div id="container" name="container"></div>
        <hr>
      </div>
      <div style="display: block;">
        <h4>Salaire</h4>
        {{offre.salaire}}.<br>
        <hr>
        <h4>Horaire</h4>
        {{offre.horaire}}H/Semaine
        <hr>
      </div>
      <div style="display: block;">
        <h4>
          Domaine</h4>
        {{offre.domaine.intitule}}.<br>
        <hr>
      </div>
      <div style="display: block;">
        <div style="display: block;">
          {{offre.poste.description}}
          <hr>
        </div>
      </div>
      <div style="display: block;">
        <div style="display: block;">
          <h4>Niveau d’expérience</h4>
          {{offre.niveauExperience}}.
          <hr>
        </div>
      </div>
      <div style="display: block;">
        <h4>Niveau d'études</h4>
        {{offre.niveauEtude}}.
        <hr>
      </div>
      <div style="display: block;">
        <h4>Compétences techniques</h4>
        <div *ngFor="let competence of offre.competences" class="btn btn-light btn-rounded btn-fw"
          style="background-color: #a3a4a5; display: inline-block;">
          <b>{{competence.intitule}}</b></div>
        <hr>
      </div>
      <div style="display: block;">
        <h4>Langues</h4>
        <span *ngFor="let langue of offre.langues">
          {{langue.libelle}} &nbsp; <rating [(ngModel)]="langue.niveau" [max]="max" [readonly]="true"></rating><br>
        </span>
      </div>
    </accordion-group>
  </accordion>
  <!--*******************************************filtre model**********************************-->
  <ng-template #filterTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Filtre des offres</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label>Domaines</label>
      <select class="form-control form-control-sm">
        <option>Tous</option>
        <option>Domaine1</option>
        <option>Domaine2</option>
        <option>domaine3</option>
      </select>
      <hr>
      <ng-template #tolTemplate>{{ salaire }} DT</ng-template>
      <label>Salaire</label>
      <input type="range" min="0" max="50000" [(ngModel)]="salaire" class="slider" id="myRange" [tooltip]="tolTemplate"
        triggers="focus">
      <hr>
      <ng-template #tolTemplateEtude>BAC + {{ etude }}</ng-template>
      <label>Etudes</label>
      <input type="range" min="0" max="8" [(ngModel)]="etude" class="slider" id="myRange" [tooltip]="tolTemplateEtude"
        triggers="focus">
      <hr>
      <ng-template #tolTemplateExp>{{ experience }} ans</ng-template>
      <label>Experience</label><br>
      <input type="range" min="0" max="30" [(ngModel)]="experience" class="slider" id="myRange"
        [tooltip]="tolTemplateExp" triggers="focus">
      <hr>
      <label>Compétences techniques</label><br>

      <ng-multiselect-dropdown [placeholder]="'Choisir Compétences'" [data]="listCompetences" [(ngModel)]="selectedItems"
        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>

      <hr>
      <label>Langues</label><br>
      Français <rating [(ngModel)]="rateFr" [max]="max" [readonly]="isReadonly"></rating><br>
      Anglais <rating [(ngModel)]="rateAng" [max]="max" [readonly]="isReadonly"></rating>
      <hr>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="submitSearch()">Filtrer</button>
      <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Annuler</button>
    </div>