<div class="parent">
  <div class="container ">
    <div class="row">
      <div class="login-container col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="login-title text-center">
          <h2><span style="color: #27367f;">My<strong>JOB</strong></span></h2>
        </div>
        <div class="login-content">
          <div class="login-body">
            <form role="form" action="" method="post" class="login-form">
              <div class="form-group">
                <div class="pos-r">
                  <input id="pwd" type="password" name="pwd" placeholder="Nouveau mot de passe" [(ngModel)]="pwd" #password="ngModel"
                    class="form-password form-control" required>
                    <div
                      *ngIf="(password.errors || !verifPassWordField(pwd)) && (password.dirty || password.touched || tryToSubmit)"
                      class="alert alert-danger">
                      <div *ngIf="!verifRequired(pwd)">
                        Champ obligatoire!
                      </div>
                      <div *ngIf="!verifPassWordField(pwd) && verifRequired(pwd)">
                        Format incorrecte (min 8 caratére contenant au moins un chiffre, un caractére miniscule, un
                        caractére majiscule et un caractére spécial)!
                      </div>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="pos-r">
                  <input id="confirmation" type="password" name="confirmation" placeholder="Confirmer mot de passe" [(ngModel)]="confirmation"
                    class="form-password form-control">
                    <div *ngIf="tryToSubmit && !verifConfirmationPassword(pwd, confirmation)"
                      class="alert alert-danger">
                    <div [hidden]="verifConfirmationPassword(pwd, confirmation)">
                      Mot de passe et confirmation incompatible!
                    </div>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-warning form-control" (click)="submitNewPass()"><strong>Envoyer</strong></button>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-warning form-control" (click)="back()"><strong>Retour</strong></button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div></div>
