<nav class="sidebar sidebar-offcanvas" id="sidebar" style="height:100%;">
  <ul class="nav">

    <!--************************************************menu pour admin*******************************-->
    <ng-container *ngIf="connectedUser.role==='ADMIN'">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/principal', {outlets: {child1: ['categories']}}]">
          <i class="ti-layers-alt menu-icon"></i>
          <span class="menu-title">Domaines</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/principal', {outlets: {child1: ['candidats']}}]">
          <i class="fa fa-users menu-icon"></i>
          <span class="menu-title">Liste des candidats</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/principal', {outlets: {child1: ['employeurs']}}]">
          <i class="ti-id-badge menu-icon"></i>
          <span class="menu-title">Liste des employeurs</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/principal', {outlets: {child1: ['competences']}}]">
          <i class="fa fa-plus menu-icon"></i>
          <span class="menu-title">Compétences</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/principal', {outlets: {child1: ['langues']}}]">
          <i class="fa fa-flag-o menu-icon"></i>
          <span class="menu-title">Langues</span>
        </a>
      </li>
    </ng-container>
    <!--************************************************menu pour candidat*******************************-->
    <ng-container *ngIf="connectedUser.role==='CANDIDAT'">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/principal', {outlets: {child1: ['offres']}}]">
          <i class="ti-menu menu-icon"></i>
          <span class="menu-title">Offres d'emploi</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/principal', {outlets: {child1: ['candidatures']}}]">
          <i class="ti-files menu-icon"></i>
          <span class="menu-title">Mes candidatures</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/principal', {outlets: {child1: ['mes-competences']}}]">
          <i class="ti-list menu-icon"></i>
          <span class="menu-title">Mes compétences</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/principal', {outlets: {child1: ['mes-formations']}}]">
          <i class="ti-tag menu-icon"></i>
          <span class="menu-title">Mes formations</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/principal', {outlets: {child1: ['mes-experiences']}}]">
          <i class="ti-ruler menu-icon"></i>
          <span class="menu-title">Mes experiences</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/principal', {outlets: {child1: ['mes-langues']}}]">
          <i class="fa fa-flag-o menu-icon"></i>
          <span class="menu-title">Mes langues</span>
        </a>
      </li>
    </ng-container>
    <!--************************************************menu pour Employeur*******************************-->
    <ng-container *ngIf="connectedUser.role==='EMPLOYEUR'">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/principal', {outlets: {child1: ['mes-offres']}}]">
          <i class="ti-list menu-icon"></i>
          <span class="menu-title">Mes offres</span>
        </a>
      </li>
    </ng-container>
    <!--***********************************************munu commun**************************************-->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/principal', {outlets: {child1: ['profil']}}]">
        <i class="ti-user menu-icon"></i>
        <span class="menu-title">Mon profil</span>
      </a>
    </li>
  </ul>
</nav>
