<div class="parent">
  <div class="container ">
    <div class="row">
      <div class="login-container col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="login-title text-center">
          <h2><span style="color: #27367f;">My<strong>JOB</strong></span></h2>
        </div>
        <div class="login-content">
          <div class="login-body" *ngIf="codeRecu">
            <form role="form" action="" method="post" class="login-form">
              <div class="form-group">
                <div class="pos-r">
                  <input id="code" type="text" name="code" placeholder="Code réçu par Email" [(ngModel)]="code" [ngModelOptions]="{standalone: true}"
                    class="form-password form-control" required #coderecu="ngModel">
                    <div
                      *ngIf="(coderecu.errors || !correctCode) && (coderecu.dirty || coderecu.touched || tryToSubmit)"
                      class="alert alert-danger">
                      <div *ngIf="!verifRequired(code)">
                        Champ obligatoire!
                      </div>
                      <div *ngIf="!correctCode && verifRequired(code)">
                        Code incorrect!
                      </div>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-warning form-control" (click)="submitCode()"><strong>Envoyer</strong></button>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-warning form-control" (click)="back()"><strong>Retour</strong></button>
              </div>
            </form>
          </div>

          <div class="login-body" *ngIf="!codeRecu">
            <form role="form" action="" method="post" class="login-form">
              <div class="form-group">
                <div class="pos-r">
                  <input id="email" type="email" name="code" placeholder="Votre email" [(ngModel)]="email" #emailto="ngModel" required [ngModelOptions]="{standalone: true}"
                    class="form-password form-control">
                    <div
                    *ngIf="(emailto.errors || !verifEmailField(email)) && (emailto.dirty || emailto.touched || tryToSubmit)"
                    class="alert alert-danger">
                    <div *ngIf="!verifRequired(email)">
                      Champ obligatoire!
                    </div>
                    <div *ngIf="!verifEmailField(email) && verifRequired(email)">
                      Format incorrecte!
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-warning form-control" (click)="SendMail()"><strong>Envoyer</strong></button>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-warning form-control" (click)="back()"><strong>Retour</strong></button>
              </div>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div></div>
